<button style="border: 0; background-color: transparent;" onclick="toggleVisibility()">
  <img style="width: 5em" src="https://img.freepik.com/free-icon/user_318-180888.jpg"></img>
  <br>
  <label>User Database</label></button>

<br>

<div id="content" class="hidden" style="display: none;">
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Admin Status</th>
      </tr>
    </thead>
    <tbody>

      <% if (users.length> 0){
        for(i=0;i<users.length;i++){ %>
            <tr>
            <th scope="row">
              <%= (i+1) %>
            </th>
            <td>
              <%=users[i].name%>
            </td>
            <td>
              <%=users[i].email%>
            </td>
            <td>
              <%=users[i].phone%>
            </td>
            <td>
              <%=users[i].admin_status%>
            </td>
          </tr>
            <% } } %>

    </tbody>
  </table>
</div>