<%- include('../layouts/header') %>

    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="d-flex">
                    <img class="pb-2" style="width: 3em;"
                        src="https://icon-library.com/images/e-commerce-icon-png/e-commerce-icon-png-5.jpg"></img>
                    <h3 class="p-2 fw-bold text-danger">eezi<span class="text-success">Buy</span></h3>

                </div>
                <a class="navbar-brand ps-4 fw-bold">ADMIN PANEL</a>
                <form class="d-flex" action="/admin/logout" method="post">
                    <button type="submit" class="btn btn-danger w-100">Logout</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="container-fluid" style="background-color: rgb(208,236,248);">
        <div class="row text-center">
            <div class="col-md-6">
                <img class="w-75 "
                    src="https://thumbs.dreamstime.com/b/admin-office-binder-wooden-desk-table-colored-pencil-pencils-pen-notebook-paper-79046621.jpg"></img>

                <div class="text-center px-5 pt-5">
                    <form action="/admin/search" method="post" class="d-flex">
                        <input class="form-control me-2" name="search" type="search" placeholder="Search for users"
                            aria-label="Search">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                    <div class="pb-1 pt-3">


                    </div>
                </div>
                <%- include('searchResult') %>
            </div>
            <div class="col-md-6 p-4">
                <h3 class="pt-4 ">Welcome <%=locals.username? locals.username :'Admin' %>
                </h3>
                <hr>

                <div class="text-center pb-4">
                    <%- include('allUserList') %>
                        <hr>
                </div>

                <div class="d-flex ">
                    <div class="text-start col-md-6 pe-3">
                        <%- include('editUser') %>
                    </div>
                    <div class="text-start col-md-6">

                        <%- include('deleteUser') %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer') %>